.apropos {
    max-width: 1440px;
    width: 100%;
    margin: 0;
}

.contentCollapse {
    display: flex;
    width: 79%;
    flex-direction: column;
}

.collapse {
    margin: 0;
    font-size: 22px;
    padding-bottom: 10px;
}

.collapse p {
    background-color: #f6f6f6;
    transition: all ease-in-out;
    border-bottom-right-radius: 10px;
    color: #ff6060;
    margin-top: -20px;
    padding: 20px;
    
  }
  
  .container {
    height: 48px;
    background-color: #ff6060;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .down{
   padding-right: 15px;
  }
  .up{
    padding-right: 15px;
  }

  .title-apropos{
    font-weight: normal;
   padding-left: 10px;
  }