.apropos {
    max-width: 1440px;
    width: 100%;
    padding: 0 100px;
}

.contentCollapse {
    display: flex;
    width: 85%;
    flex-direction: column;
    margin: auto;
    margin-bottom: 150px;
}

.collapse {
    margin: 0;
    font-size: 22px;
    padding-bottom: 10px;
}
  
  .down{
   padding-right: 15px;
  }
  .up{
    padding-right: 15px;
  }

  .title-apropos{
    font-weight: normal;
   padding-left: 10px;
  }

  @media screen and (max-width: 767px) {
    .apropos {
      padding: 10px;
  } 
  .contentCollapse {
    width: 100%;
  }
  .collapse {
    font-size: 13px;
}
.down{
  min-width: 3%;
 }
 .up{
  min-width: 3%;
 }
  
  }