.banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    height: 220px;
    margin-bottom: 50px;
    margin-top: 25px;
}

.welcomeImage {
    position: relative;
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 48px;
    top: 40px;
    color: #fff;
}
@media screen and (max-width: 767px) {
    .welcomeImage {
        top: 10px;
        font-size: 24px;
        line-height: 24px;
        width: 240px;
        height: 50px;
    }
    .banner {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 10px;
        min-height: 110px;
        min-width: 335px;
        margin-bottom: 50px;
        margin-top: 25px;
        object-fit: cover;
    }
}

