.banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    height: 220px;
    margin-bottom: 50px;
    margin-top: 25px;
}

.welcomeImage {
    position: relative;
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 48px;
    top: 40px;
    color: #fff;
}


