.host {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
    color: #ff6060;
    font-size: 18px;
}

.name {
    margin-right: 5px;
}

.picture {
    border-radius: 50%;
    width: 64px;
    height: 64px;
}