.p404 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FF6060;
    margin-top: 100px;
    margin-bottom: 40px;
}

.p404-title{
    font-weight: 700;
    font-size: 190px;
    margin: 0;
}
.p404 h1{
    margin: 0;
}

.p404 p {
    font-size: 36px;
    font-weight: normal;
}

.link-acceuil-404 {
    display: flex;
    color: #FF6060;
    margin-top: 75px;
    font-size: 18px;
}