.tag-box {
    display: flex;
    color: white;
    margin: 0;
    padding: 0;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    padding: 15px;
    margin-top: 15px;
    height: 25px;
    border-radius: 10px;
    background-color: #ff6060;
    color: white;
}